<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form method="POST" action="/login">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>

        <!-- Agrega más campos según sea necesario, por ejemplo, para la contraseña -->

        <button type="submit">Iniciar Sesión</button>
    </form>
    <div class="col-6">
        <div class="float-end">
          <a href="./" class="btn primary-btn">Volver à home</a>
        </div>
      </div>

    <p>No tienes cuenta? <a href="/register">Regístrate</a></p>
</body>
</html>
